@import url("https://fonts.googleapis.com/css?family=Alata|Ubuntu&display=swap");

// font-family: 'Ubuntu', sans-serif;
// font-family: 'Alata', sans-serif;
// colors
$primary-bg-color: #145470;
$secondary-bg-color: #1c749b;
$primary-color: aliceblue;
$header-color: aliceblue;
$primary-bg-color-half: rgba(20, 84, 112, 0.5);

// fonts
$primary-font: "Ubuntu", sans-serif;


//animate overrides
$use-fadeIn: true;
$use-fadeOut: true;
